.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #282c34;
}

.container h1 {
  font-size: 2rem;
  color: white;
}

.bg-vermelho {
  background-color: red;
}

.bg-azul {
  background-color: blue;
}

.bg-roxo {
  background-color: purple;
}

.display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.display div {
  margin: 10px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.display button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4fa1b2;
  color: #ffffff;
  cursor: pointer;
}

.display button:hover {
  background-color: #fff;
  color: #4fa1b2
}